<header>
  <app-menu-bar></app-menu-bar>
</header>


<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlHiZeg06bWWDQzeJe6MdqItU_ZJ5KLCTTKg&usqp=CAU"
    cardTitle="O NOVO HOMEM DE FERRO EM 3D"
    cardDescription="A marvel lança o novo filme do homem de ferro muito top">
    </app-big-card>

    <app-big-card photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlHiZeg06bWWDQzeJe6MdqItU_ZJ5KLCTTKg&usqp=CAU"
    cardTitle="O NOVO HOMEM DE FERRO EM 3D"
    cardDescription="A marvel lança o novo filme do homem de ferro muito top">
    </app-big-card>


  </div>



  <div class="articles__others">
    <app-small-card
    PhotoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTW1W1RuDjOzH9kf88v-yI3nfM3O1Md_gy4Cw&usqp=CAU"
    cardTitle="irru aguarde novidades estao chegando"></app-small-card>

    <app-small-card
    PhotoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTX7AsnXPxI7RANOosZ6aCOe0arQ3nRrYSMmA&usqp=CAU"
    cardTitle="Consegue reconhecer qual heroi na tela"></app-small-card>

    <app-small-card
    PhotoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcFjT6Fbm3PgOrsJL_I_zU5naabZvu3hDnWQ&usqp=CAU"
    cardTitle="caraca que incrivel aguarde novidades"></app-small-card>



  </div>

</div>


